@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

:root {
  --BG_COLOR: #ffff;
  --HEADER_BG_COLOR: #1b1c1d;
  --HEADER_TEXT_COLOR: #ffffff;
  --TEXT_COLOR: #222222;
}

* {
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--BG_COLOR);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--HEADER_BG_COLOR);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
}

header h2 {
  color: var(--HEADER_TEXT_COLOR);
  font-weight: normal;
}

nav {
  align-self: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

nav li {
  margin-right: 25px;
}

nav a,
label {
  text-decoration: none;
  color: var(--HEADER_TEXT_COLOR);
}

i {
  cursor: pointer;
  color: var(--HEADER_TEXT_COLOR);
  margin-left: 15px;
  width: 10px;
}

a:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20% 20% 0 20%;
}

.profilepic {
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.about-text {
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  margin-left: 10px;
}
